<div class="container">
  <div class="d-flex justify-content-center">
    <h1>Welcome to Paws and Claws!!</h1>
  </div>
  <div class="row">
    <div class="dog-card col-12 col-md-6 col-lg-3">
      <img src="/home/dan/code/DanEnrriquez17/dan_paws/app/assets/images/IMG_0465.JPG" alt="">
      <p class="dog-info">
        <strong>Name:</strong> Einstein
        <strong>Species:</strong> Dog
        <strong>Breed:</strong> Labrador
        <strong>Age:</strong> 10 years
      </p>
    </div>
    <div class="dog-card col-12 col-md-6 col-lg-3">dog 2</div>
    <div class="dog-card col-12 col-md-6 col-lg-3">dog 3</div>
    <div class="dog-card col-12 col-md-6 col-lg-3">dog 4</div>
    <div class="dog-card col-12 col-md-6 col-lg-3">dog 5</div>
    <div class="dog-card col-12 col-md-6 col-lg-3">dog 6</div>
    <div class="dog-card col-12 col-md-6 col-lg-3">dog 7</div>
    <div class="dog-card col-12 col-md-6 col-lg-3">dog 8</div>
    <div class="dog-card col-12 col-md-6 col-lg-3">dog 9</div>
    <div class="dog-card col-12 col-md-6 col-lg-3">dog 10</div>
    <div class="dog-card col-12 col-md-6 col-lg-3">dog 11</div>
    <div class="dog-card col-12 col-md-6 col-lg-3">dog 12</div>
  </div>
</div>
